*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color:rgb(163, 162, 162);
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

 .header-content{
    max-width: 1200px;
    margin:auto;
    display: flex;
    justify-content:space-between;
}
 .logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

 }
.logo h1 {
    color: white;
}

.menu {
    height: 80px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex; 
    list-style: none;
    
}
.menu nav ul li {
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before {
    content: '';
    width: 100%;
    height: 4px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a {
    color: white;
    font-size: 18px;
    transition: color 300ms;
    text-decoration:none;
    
}

.menu nav ul li a:hover {
    color: rgb(20, 20, 20);
}
.menu .text-menu-selected{
    color: white;
}

/* portada*/ 

.container-cover {

    width: 100%;
    height: 500px;
    position: relative;
    top: 80px;
    background-image: url(imagenes/camionvolcador.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.container-cover::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(38, 172, 255, 0.8) ;
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin: 20px;
}

.container-info-cover p {

    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

/*pie de pagina*/

#footer {
padding: 3cm;
font-size: 16pt;
text-align: left;
text-shadow: rgba (0,0,255,1) -1px -2px 0.5em;
background-color: dimgrey;
}


